body {
  font: Open Sans, Helvetica, Sans-Serif, 18px, bold;
  font-family: Open Sans, Helvetica, Sans-Serif;
  font-size: 18px;
  font-weight: bold;
  margin:0px;
}
.menu li {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
ul {
    margin: 0;
    padding-left: 0
  }
span.creation-compte
{
    float: right;
  }
  header#top {
      text-align: center;
      background-color: rgb(212, 241, 175);
      padding-top: 20;
      padding-bottom: 20;
    }

section.bienvenue {
      height: 500;
      width: 100vw;
      height: calc(100vh - 58px);
      position: relative;
  }

  article.text-bienvenue {
      text-align: center;
      color: white;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
  }

section.bienvenue h1 {
      font-size: 60px;
      margin-top: 0;

}

div.image_bienvenue {
        background-image: url(https://hd.unsplash.com/photo-1464922428691-9b81d2baa86b);
        position: absolute;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: -1;
}

section.contenus {
    text-align: center;
    background-color: antiquewhite;
    height: 500;
    width: 100vw;
    height: 100vh;
    position: relative;
}

  section.contenus h2 {
    margin-top: 0px;
  }

section.video {
    height: 500;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: aliceblue;
  }
  article.contenu_section_video {
  text-align: center;
  color: rgb(120, 195, 24);
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin-top: -60;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
}

p.FollowUs {
  z-index: 1;
  margin-top: 0;
}

article.picto_partage {
  color: rgb(212, 241, 175);
}
